.posts{
    background-color: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 300px;
    height: 150px;
}

.postsform{
    background-color: #fff;
    border-radius: 8px;
    box-sizing: border-box;
    height: 150px;
    width: auto;
}

.postbutton{
    /* border: 3px solid black; */
    background-color: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    box-sizing: border-box;
    color: gray;
    background-color: lightgray;
}

.remove{
    box-shadow: 10 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    color: gray;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: lightgray;
    display: flex;
    justify-content: flex-end;
}

.likes {
    /* border: 3px solid black; */
    height: 3px;
    width: 30px;
    margin-top: 110px;
    margin-right: 50px;
}
