.signUp {
    margin-left: auto;
    margin-right: 365px;
    appearance: none;
    backface-visibility: hidden;
    background-color: #42b72a;
    border-radius: 5px;
    border-style: none;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 500;
    height: 35px;
    width: 200px;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 0 24px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
  }

  .signUp:hover {
    background-color: #39a124;
    box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
  }

  .signUp:hover:after {
    opacity: .5;
  }

  .signUp:active {
    box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
    transform: translateY(2px);
    transition-duration: .35s;
  }

  .signUp:active:after {
    opacity: 1;
  }

  @media (min-width: 768px) {
    .button-65 {
      padding: 14px 22px;
      width: 176px;
    }
    .signUp{
        box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
        line-height: 48px;
        height: 50px;
        position: relative;
        text-align: center;
        margin-right: auto;
        margin-top: 15px;
        display: block;
        text-align: center;
    }
}
