.log_in {
  appearance: none;
  backface-visibility: hidden;
  background-color: #2f80ed;
  border-radius: 6px;
  margin-top: 5px;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 20px;
  font-weight: 500;
  height: 50px;
  width: 365px;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 0 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.log_in:hover {
  background-color: #1366d6;
  box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.log_in:hover:after {
  opacity: .5;
}

.log_in:active {
  box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
  transform: translateY(2px);
  transition-duration: .35s;
}

.log_in:active:after {
  opacity: 1;
}

@media (min-width: 768px) {
  .button-65 {
    padding: 14px 22px;
    width: 176px;
  }
}

.loginForm{
  /* border: 3px solid black; */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  width: 375px;
  /* margin-left: auto; */
  /* margin-right: 250px; */
  /* margin-top: -225px; */
  padding: 10px;
  display: block;
  text-align: center;
  word-wrap: break-word;
  font-size: 22px;
  line-height: 1.43;
  background-color: #fff;
}

.username{
  border-radius: 6px;
  border: 1px solid #dddfe2;
  font-family: inherit;
  font-size: 17px;
  height: 25px;
  width: 150px;
  line-height: 16px;
  vertical-align: middle;
  padding: 14px 16px;
  width: 330px;
}

.demo{
  color: #1877f2;
  background-color: rgba(234, 234, 234, 0);
  font-size: 14px;
  padding: 15px;
  font-weight: 500;
  font-style: bold;
  border: none;
  cursor: pointer;
}

.lineBreak{
  border: 0.5px solid rgba(194, 194, 194, 0.806);
}

.connect{
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  align-items: center;
  width: 359px;
  font-size: 24px;
  line-height: 28px;
}

.splashPage{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px;
  padding: 50px;
  margin-right: 175px
}

.splashPageText{
  width: auto;
  justify-content: center;
  align-items: center;
}

.textUnderForm{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 14px;
  padding-top: 15px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-left: 550px;
}

@media (max-width: 800px) {
  .splashPage{
    /* border: 3px solid gold; */
    margin-top: -50px;
  }
  .splashPageText{
    /* border: 3px solid #1877f2; */
    margin-left: 150px;
    padding: 0;
    font-size: 24px;
    line-height: 28px;
    width: auto;
    font-weight: normal;
    /* margin: 0; */
  }
  /* .loginForm{
    border: 3px solid yellowgreen;
  } */
  .textUnderForm{
    display: contents;
    margin-right: 550px;
  }
  .signUp{
    /* border: 3px solid green; */
    margin-left: 85px;
  }
  .metabook{
    /* border: 3px solid red; */
    margin-right: 145px;
    margin-left: 50px;
  }
  .connect{
    /* margin-left: 165px; */
    margin-left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    align-items: center;
    width: 385px;
    font-size: 24px;
    line-height: 28px;
  }
}

.footers{
  height: 100px;
  width: 100%;
  margin-top: 120px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  position:fixed;
  left:0px;
  bottom:0px;
}

.languages{
  width: 650px;
  font-size: 13px;
  color: #737373;
  display: flex;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
}
 .loginBreak{
  border: 3px solid black;
  height: 1px;
  width: 100%;
  margin-top: 50px;
}

.aboutLinks{
  /* border: 3px solid black; */
  font-size: 13px;
  text-decoration: none;
  width: 60px;
  height: 5px;
  color: #737373;
  display: flex;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
}

.borderLoginForm{
  height: auto;
}

.formText{
  display: flex;
  justify-content: center;
  align-items: center;
}
