.friends{
    /* border: 3px solid black; */
    width: 60px;
    margin-left: 13px;
    margin-top: -25px;
    outline: none;
}

.friendButton{
    cursor: pointer;
    border: none;
    box-shadow: 5px 1px 20px rgba(0, 0, 0, 0.36);
    border-radius: 5px;
}
