.friends{
    /* border: 3px solid black; */
    width: 60px;
    margin-left: 13px;
    margin-top: -25px;
    outline: none;
    margin-left: auto;
    margin-right: 25px;
    margin-top: -165px;
    margin-bottom: 125px;
}

.friendButton{
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
    border: none;
}

.unfriendButton{
    cursor: pointer;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    width: 63px;
    margin-left: 93.5%;
    margin-right: 25px;
    top: -150px;
    border: 3px solid black;
}
