.headers{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileName{
    width: calc(100% - 560px);
    padding: 20px;
    font-size: 36px;
    font-weight: 700;
    margin-left: 135px;
    margin-top: -75px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.headerProfilePage{
    margin-top: 150px;
    height: 200px;
    border-radius: 8px;
    box-shadow: 5px 1px 20px rgb(164, 164, 164);
    background-color: #fff;
    padding: 15px;
}

/* @media (max-width: 900px){ */
@media (max-width: 450px) {
  .headerProfilePage{
    width: 535px;
  }
}

.profilePicture{
    border-radius: 50%;
    margin-left: 100px;
    width: 50px;
    height: 100px;
    /* box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%); */
}

.links{
    border-radius: 3%;
    width: auto;
    height: 150px;
    margin-top: -110px;
    margin-bottom: 50px;
    margin-right: 2%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.twitter{
  margin-left: 20px;
}

.contacts{
  text-decoration: underline;
  display: flex;
  justify-content: center;
}

.aboutMe{
  width: 350px;
  height: 150px;
  margin-bottom: auto;
  margin-top: 38px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  display: flex;
  justify-content: center;
  border-radius: 6px;
  font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
  position: sticky;
}

.aboutMeText{
  /* border: 3px solid blue; */
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width: 900px) {
  .aboutMe{
    visibility: hidden;
  }
}

.hrprofilePage{
  margin-top: 50px;
}

.aboutMeTitle{
  /* border: 3px dotted darkviolet; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 120px;
}

/* .bioBody{
  text-decoration: none;
} */

.friendBorder{
  /* border: 3px dotted violet; */
  /* width: auto;
  height: 10px;
  z-index: 1;
  margin-top: -90px; */
  margin-bottom: -100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.friendId{
  z-index: 1;
  display: flex;
  justify-content: center;
}
