.signup button {
    appearance: none;
    backface-visibility: hidden;
    background-color: #42b72a;
    border-radius: 10px;
    border-style: none;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 500;
    height: 35px;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 10px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
  }

  .signup button:hover {
    background-color: #1366d6;
    box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
  }

  .signup button:hover:after {
    opacity: .5;
  }

  .signup button:active {
    box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
    transform: translateY(2px);
    transition-duration: .35s;
  }

  .signup button:active:after {
    opacity: 1;
  }

  @media (min-width: 768px) {
    .button-65 {
      padding: 14px 22px;
      width: 176px;
  }
}
.signup{
  font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
  font-size: 32px;
  line-height: 38px;
  border-radius: 0 0 8px 8px;
  border-top: 1px solid #dadde1;
  margin-left: auto;
  padding: 10px;
  display: block;
  text-align: center;
  word-wrap: break-word;
  font-size: 12px;
  line-height: 1.43;
  padding: 16px;
  width: 300px;
  position: relative;
}

.input{
  font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
  background-color: rgb(234, 234, 234);
  border: 1px solid lightgray;
  border-radius: 5px;
  text-align: center;
  word-wrap: break-word;
  font-size: 12px;
  padding: 6px;
}
