.newsfeed{
    border: 3px solid black;
    background-color: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 8px;
    box-sizing: border-box;
    height: 150px;
    width: 300px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0 16px;
}
