.posts{
    background-color: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 18px;
    box-sizing: border-box;
    width: 650px;
    height: auto;
    margin-left: 50px;
}

.input{
    background-color: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-sizing: border-box;
    width: 350px;
    height: auto;
    margin-top: 30px;
    margin-left: 25px;
}

.textInput{
    border: none;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    box-sizing: border-box;
    width: 650px;
    height: 35px;
    margin-left: 50px;
    margin-bottom: 15px;
    margin-top: -50px;
}

.postsform{
    background-color: lightgray;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-sizing: border-box;
    height: 150px;
    width: 650px;
}

.poster{
    /* border: 3px solid lawngreen; */
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    /* margin-bottom: -40px; */
    margin-top: auto;
}

.postbutton {
    appearance: none;
    backface-visibility: hidden;
    border-radius: 10px;
    border-style: none;
    box-shadow: none;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 500;
    height: 35px;
    width: 650px;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 0 16px;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
  }

  .postbutton:hover {
    background-color: #2f80ed;
    color: #fff;
    box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
  }

  .postbutton:hover:after {
    opacity: .5;
  }

  .postbutton:active {
    box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
    transform: translateY(2px);
    transition-duration: .35s;
  }

  .postbutton:active:after {
    opacity: 1;
  }

  @media (min-width: 350px) {
    .button-65 {
      padding: 14px 22px;
      width: 176px;
    }
    .postbutton{
        background-color: #fff;
        color: #2f80ed;
        box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
        border-radius: 50px;
        font-size: 17px;
        line-height: 48px;
        width: auto;
        padding: 0 16px;
        position: relative;
        text-align: center;
        margin-left: 250px;
    }
}


.editPost {
    appearance: none;
    backface-visibility: hidden;
    border-radius: 10px;
    border-style: none;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 0 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
  }

  .editPost:hover {
    background-color: #f0f2f5;
    box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
  }

  .editPost:hover:after {
    opacity: .5;
  }

  .editPost:active {
    box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
    transform: translateY(2px);
    transition-duration: .35s;
  }

  .editPost:active:after {
    opacity: 1;
  }

  @media (min-width: 350px) {
    .button-65 {
      padding: 14px 22px;
      width: 176px;
    }
    .editPost{
        box-shadow: 10 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
        color: gray;
        border-radius: 8px;
        box-sizing: border-box;
        background-color: transparent;
        display: flex;
        justify-content: center;
        height: 18px;
        width: 55px;
        margin-left: 523px;
        margin-top: -35px;
        padding: 0 16px;
    }
}
.removeEdit {
    appearance: none;
    backface-visibility: hidden;
    border-radius: 10px;
    border-style: none;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 0 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
  }

  .removeEdit:hover {
    background-color: rgba(205, 0, 0, 0.789);
    box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
  }

  .removeEdit:hover:after {
    opacity: .5;
  }

  .removeEdit:active {
    box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
    transform: translateY(2px);
    transition-duration: .35s;
  }

  .removeEdit:active:after {
    opacity: 1;
  }

  @media (min-width: 358px) {
    .button-65 {
      padding: 14px 22px;
      width: 176px;
    }
    .removeEdit{
        box-shadow: 10 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
        color: gray;
        border-radius: 8px;
        box-sizing: border-box;
        background-color: transparent;
        display: flex;
        justify-content: center;
        height: 18px;
        width: 55px;
        margin-left: 580px;
        margin-top: -35px;
        padding: 0 16px;
    }
}


.editTextArea{
    border: 1px solid lightgray;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    box-sizing: border-box;
    width: 450px;
    height: auto;
}

.updatePost {
    appearance: none;
    backface-visibility: hidden;
    background-color: #42b72a;
    border-radius: 10px;
    border-style: none;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 500;
    height: 35px;
    width: 450px;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 0 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
  }

  .updatePost:hover {
    background-color: #1366d6;
    box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
  }

  .updatePost:hover:after {
    opacity: .5;
  }

  .updatePost:active {
    box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
    transform: translateY(2px);
    transition-duration: .35s;
  }

  .updatePost:active:after {
    opacity: 1;
  }

  @media (min-width: 350px) {
    .button-65 {
      padding: 14px 22px;
      width: 176px;
    }
    .updatePost{
        background-color: lightgray;
        box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
        border-radius: 50px;
        text-align: center;
    }
}

.likesComments{
    width: 50px;
    display: flex;
}

.images{
    width: 100%;
    height: 600px;
    margin-left: 0;
  }

  .images:hover {
    /* border: 5px solid transparent; */
    width: 110%;
    height: 700px;
    margin-left: -25px;
    border-radius: 30px;
    box-shadow: black 0 15px 30px -5px;

}

.username{
  margin: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 17px;
  padding: 14px 16px;
  width: 330px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.newsFeedUserName{
  background-color: transparent;
  border-radius: 6px;
  border: none;
  margin: 5px;
  margin-bottom: 10px;
  margin-top: 15px;
  font-size: 17px;
  padding: 0 16px;
  width: 100px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  cursor: pointer;
  /* color: #1366d6; */
  color: #2f80ed;
}

.postBody{
  margin: 10px;
  margin-left: 35px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: smaller;
  font-weight: 500;
}

.photoUpload{
  margin-top: 15px;
  margin-left: 280px;
}

.lineBreaker{
  border: 1px solid rgba(155, 155, 155, 0.519);
  width: 600px;
  margin-left: 22px;
  margin-top: -20px;
}

.lineBreakerTop{
  border: 1px solid rgba(155, 155, 155, 0.519);
  margin-top: -15px;
  width: 600px;
  margin-left: 22px;
  margin-bottom: 4px;
}

.spacingEdit{
  color: transparent;
}

.newsFeedLinks{
  /* border: 3px solid maroon; */
  width: auto;
  margin-left: 2%;
  margin-top: 150px;
  margin-bottom: -250px;
}

@media (max-width: 900px) {
  .newsFeedLinks{
    /* border: 3px dotted pink; */
    margin: 55px;
    padding: 15px;
  }
}

.postTime{
  width: 150px;
  height: 5px;
  display: flex;
  justify-content: center;
  font-family: monospace;
  font-weight: 300;
  color: gray;
  margin-left: 7px;
  margin-top: -5px;
  margin-bottom: 25px;
}

.worldIcon{
  width: 15px;
  height: 15px;
  margin-top: 15px;
  margin-left: 5px;
  opacity: 0.5;
  filter: alpha(opacity=40);
}
