.headers {
    width: 650px;
}

.metabook {
    width: 350px;
    margin-left: 100px;
    margin-top: 150px;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 55px;
    color: #2f80ed;
}

.connect{
    font-family: 'Poppins-SemiBold', Arial, sans-serif;
    font-size: 25px;
    width: 550px;
    margin-left: 100px;
    padding: -100px;
}

.root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 350px;
    margin: auto;
    margin-right: 250px;
    margin-top: -350px;
}
