.likes {
    appearance: none;
    backface-visibility: hidden;
    border-radius: 10px;
    border-style: none;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 500;
    padding: 0 16px;
    height: 25px;
    width: 55px;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 0 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
  }

  .likes:hover {
    background-color: #e4e4e4;
    box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
  }

  .likes:hover:after {
    opacity: .5;
  }

  .likes:active {
    box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
    transform: translateY(2px);
    transition-duration: .35s;
  }

  .likes:active:after {
    opacity: 1;
  }

  @media (min-width: 768px) {
    .button-65 {
      padding: 14px 22px;
      width: 176px;
    }
    .likes{
        border: 1px solid ;
        border-radius: 4px;
        box-sizing: border-box;
        background-color: #fff;
        display: flex;
        justify-content: center;
        margin-left: 25px;
        padding: 0 16px;
        height: 25px;
        width: 45%;
      }
}

.like{
  margin-left: 15px;
  margin-top: -3.5px;
  color: rgb(119, 119, 119);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
  font-weight: 400;
}

.unlike{
  margin-left: 15px;
  margin-top: -2px;
  color: rgb(61, 61, 181);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
}

.LikeButtonDarkBlue{
  height: 18px;
}
