.pfp {
    appearance: none;
    backface-visibility: hidden;
    border-style: none;
    box-shadow: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
    letter-spacing: normal;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
  }

  .pfp:hover {
    /* background-color: #f3f3f3; */
    box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
  }

  .pfp:hover:after {
    opacity: .5;
  }

  .pfp:active {
    box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
    transform: translateY(2px);
    transition-duration: .35s;
  }

  .pfp:active:after {
    opacity: 1;
  }

  @media (min-width: 768px) {
    .button-65 {
      width: 176px;
    }
    .pfp{
        background-color: rgb(237, 237, 237);
        box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
        border-radius: 50%;
        margin-right: 30px;
        height: 60px;
        display: block;
        justify-content: flex-end;
        text-align: center;
    }
}

.dropdown {
  appearance: none;
  backface-visibility: hidden;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
  letter-spacing: normal;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  margin-bottom: 10px;
}

.dropdown:hover {
  background-color: #cacaca;
  box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.dropdown:hover:after {
  opacity: .5;
}

.dropdown:active {
  box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
  transform: translateY(2px);
  transition-duration: .35s;
}

.dropdown:active:after {
  opacity: 1;
}

@media (min-width: 768px) {
  .button-65 {
    width: 176px;
  }
  .dropdown{
      background-color: rgb(237, 237, 237);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.125), 0 8px 16px rgba(0, 0, 0, 0.293);
      border-radius: 8px;
      padding: 0 16px;
      width: 100px;
      height: 40px;
      display: block;
      justify-content: flex-end;
      text-align: center;
      margin-bottom: 10px;
  }
}


.title a{
  font-family: 'Poppins-SemiBold', Arial, sans-serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 55px;
  color: #2f80ed;
  margin-left: 30px;
}

.link {
  z-index: 1;
  border: 1px solid lightgray;
  top: -5px;
  right: 0.1px;
  position: fixed;
  background-color: white;
  box-shadow: 2px 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
}

.profile-dropdown{
  position: absolute;
  width: 100px;
  top: 100px;
  right: 30px;
}
